.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.menu {
  position: absolute;
  z-index: 108;
  top: 18px;
  text-align: right;
  right: 10px;
  margin-left: 100px;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.menuIcon {
  position : absolute;
  top : 60px;
  left : 60px;
}


.rightsidemenu {
  border-radius: 16px;
  background: #fff;
  color: #4d5766;
  height: 32px;
  min-width: 32px;
  direction: rtl;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
}

.NavbarDivider {
  margin-top: 50;
}

.menubutton {
  border-radius: 16px;
  border: 2px solid #5F6B7C;
}

.showMenu {
  position: absolute;
  top : 50px;
  left : 50px;

  transition: all 0.5s;
  visibility: visible;
}

.hideMenu {
  position: absolute;
  top : 50px;
  left : -400px;
  transition: all 0.5s;
  visibility: hidden;
}

.menuIconClose {
  position:fixed;
  transition: all 0.5s;
  top : 60px;
  left : 10px;
}

.menuIconOpen {
  position:fixed;
  transition: all 0.5s;
  top : 60px;
  left : 460px;
}
.modal {
  background-color: #2F343C;
  border: 1px solid #5F6B7C;
  width : 400px;
  height: 800px;
  opacity: 0.8;
}

.group1 {
  position: relative;
  left: -300px;
  
}