.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.toggle-hidden {
  top: -50px;
  transition:0.2s;
}

.menu {
  position: absolute;
  z-index: 108;
  top: 18px;
  left: 0;
  right: 10px;
  transition: margin-left 0.25s;
  margin-left: 50px;
  display: flex;
  justify-content: space-between;
  flex-flow: wrap;
}

.content {
  background-color: #8F99A8;
}

.rightsidemenu {
  border-radius: 16px;
  background: #fff;
  color: #4d5766;
  height: 32px;
  min-width: 32px;
  direction: rtl;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 15%);
}
.NavbarDivider {
  margin-top: 50;
}

html {
  background-color: #ABB3BF;
}

.menubutton {
  border-radius: 16px;
  border: 2px solid #5F6B7C;
}